body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('src/stars.jpg');
  background-repeat: no-repeat;
  font-size: 18px;
  background-size: 100% 100%;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title{
  padding:5px 12px;
  float:right;
}
.addLineDancerButton, .addDancerButton, .lineUpDancerButton, .addAsteroidButton{
 /* border-style:solid;*/
  /*box-sizing: border-box;*/
  border-width:2px;
  font-family: 'Bowlby One', cursive;
  /*border-color: white;*/
  width:100px;
  margin-top: 3px;
  float:right;
  border-radius: 10px;
  background-color:red;
  color:white; 
  text-decoration: none;
 }
.addDancerButton, .lineUpDancerButton, .addAsteroidButton{
  color:white ; 
  background-color:black;
  text-decoration: none;
 }
.addDancerButton {
  background-color: gold;
  
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
 display:block;
 z-index: 4;
 background-image:url('src/venus.png');
  height:227px;
  width: 200px;
  position:absolute;
}

.lineDancer{
  position:absolute;
/*  display: block;*/
  z-index: 5;
  background-image: url('src/rocketship.png');
  height: 375px;
  width: 206px;

}
.explode{
/*  display: none;*/
  position:absolute;
/*  display: block;*/
  z-index: 6;
  background-image: url('src/explode.png');
  height: 196px;
  width: 306px;

}
